<% provide(:title, 'About') %>
<div id="staticPage">
  <div id="content">
    <h3 class="title">About</h3>
    <p><%= link_to 'myjson', root_url, 'data-no-turbolink' => true %> is a simple JSON store for use in your client side web and/or mobile applications.</p><br />
    <p>If you've ever needed a quick place to store a configuration file or some data for your client side models, myjson can be of service to you. Simply copy and <%= link_to 'paste your JSON data', root_url, 'data-no-turbolink' => true %> into the main input window, then access your data through the provided URI. Check out the <%= link_to 'API', api_path, 'data-no-turbolink' => true %> version for more features.</p><br />
    <p>myjson URIs support <a target="_blank" href="http://www.w3.org/TR/cors/">cross-origin resource sharing</a> (CORS) so accessing your data client side won't give you any cross domain issues.</p><br />
    <p>myjson is developed by Lance Ramoth <a target="_blank" href="https://twitter.com/lance_ramoth">@lance_ramoth</a><br />If you require support, send your message to <a href="mailto:support@myjson.com" target="_top">support@myjson.com</a>.</p><br />
    <p><em>Disclaimer: myjson is currently a BETA service. While this service is in BETA you should use it with cautious optimism.</em></p>
  </div>
</div>
